<div id="navigation_three">
	<% if is_admin %>
	<div id="admin_navigation">
	<%= link_to "#{image_tag "icons/box.png"} Users" %>
	<%= link_to "#{image_tag "icons/sticky_notes.png"} Notifications" %> 
	<%= link_to "#{image_tag "icons/mails.png"} Newsletters" %>
	</div>
	<% end %>
</div>