/* @override http://artsbox.local/stylesheets/foot.css */

/*foot ---*/

#foot {
	overflow: auto;
	width: 1080px;
}

#foot p {
	line-height: 14px;
	font-size: 90%;
}

#foot h1 {
	font-size: 112%;
	font-weight: normal;
	font-style: normal;
}

#foot h2 {
	font-size: 100%;
	font-weight: normal;
	font-style: normal;
	margin-bottom: 6px;
}

#foot a {
}

#foot a:hover {
}

#foot a:visited {
}

#footColumnOne {
	width: 168px;
	margin-right: 12px;
	float: left;
}

#footColumnTwo {
	width: 168px;
	position: relative;
	margin-right: 12px;
	float: left;
}

#footColumnThree {
	width: 168px;
	position: relative;
	margin-right: 12px;
	float: left;
}

#footColumnFour {
	width: 168px;
	position: relative;
	margin-right: 12px;
	float: left;
}

#footColumnFive {
	width: 168px;
	position: relative;
	margin-right: 12px;
	float: left;
}

#footColumnSix {
	width: 180px;
	position: relative;
	float: left;
}