<h1>Edit my box</h1>

<%= form_for update_user_path(@active), :url => {:action => :update}, :html => {:multipart => true} do |f| %> 
  <%= render :partial => "form", :locals => {:f => f} %>
  <%= f.submit "Update my box" %>
<% end %>

