  <!-- headmast for branding -->  
  <div id="headmast">
    <div id="artsbox">
      <h1 style="line-height: 24px;">The Social network for 
        <span class="emphasis">artists,<br />
        designers, handmade, creative folk</span><br />
        and <span class="lovers">lovers</span> of these good things.</h1>       
    </div>
    <div id="signup">
      <h1><%= link_to "Signup", signup_path() %></h1>
    </div>
  </div>