  <!-- toggle login and generate password fields -->  
  <%= render :partial => "headmast" %>
  <div id="home_middle_wrapper">
    <div id="stream">
      <%= render :partial => "public_stream" %>
    </div>
  </div>