<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Terms of Service | artsbox.com</title>
	<style type="text/css" media="screen">
		body {font-family: helvetica, arial, sans-serif; font-size: 0.8em; padding: 24px;}
		p.attention {color: #FF6382; font-size}
		p.back {color: #07418C;}
	</style>
</head>
<body>
	
<p class="back">Please use the 'Back' button on your browser to return to the signup form.</p>

<h1>artsbox.com Terms of Service</h1>
<p><b>Keep it simple and keep it real.</b></p>
<p>* Be a good citizen.</p>
<p>* Your content and information belongs to you. Always.</p>
<p>* We recommend you keep a backup of your content. We hold zero responsibility for any loss of your content.</p>
<p>* You have the right to cancel your account anytime.</p>
<p>* By uploading any content, you are by default claiming you hold the rights to distribute and share said content.</p>
<p>* We reserve the right to cancel your account at any time at our discretion.</p>
<p>* Your must be 16 years or older.</p>

<p class="attention">WHEN YOU CANCEL YOUR ACCOUNT <b>WE WILL ALSO DESTROY ANY AND ALL <br />
	UPLOADED AND CREATED CONTENT ASSOCIATED WITH YOUR ACCOUNT.</b> <br />
	THIS EXCLUDES ANY THIRD PARTY CONTENT.</p>

</body>
</html>