<h1>New gallery</h1>

<% form_for([@user, @gallery], new_user_gallery_path(@user)) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>
